<!doctype html>
<html lang="en">

<head>
  <title>Grew-web</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <script src="https://cdn.jsdelivr.net/npm/vue"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>

  <link href="https://cdn.jsdelivr.net/gh/gitbrent/bootstrap4-toggle@3.6.1/css/bootstrap4-toggle.min.css" rel="stylesheet">
  <script src="https://cdn.jsdelivr.net/gh/gitbrent/bootstrap4-toggle@3.6.1/js/bootstrap4-toggle.min.js"></script>

  <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>


  <link rel="stylesheet" href="main.css">

  <!-- Custom styles for this template -->
  <link href="main.css" rel="stylesheet">
</head>

<body>
  <div id="app">
    <nav class="navbar navbar-expand-sm fixed-top">
      <img aria-hidden="true" role="presentation" src="img/grew.svg" id="logo">

      <ul class="nav nav-pills">
        <li class="active">
          <button id="button-corpus" class="btn btn-success btn-sm" data-toggle="pill" href="#pill-corpus">Corpus</button>
        </li>
        <li>
          <button id="button-rewriting" v-bind:class="{ disabled: level < 3 }" class="btn btn-success btn-sm" data-toggle="pill" href="#pill-rewriting">Rewriting</button>
        </li>
        <li>
          <button id="button-rules" v-bind:class="{ disabled: level < 5}" class="btn btn-success btn-sm" data-toggle="pill" href="#pill-rules">Rules</button>
        </li>
      </ul>

      <ul class="navbar-nav">
        <li>
          <h3>Corpus:</h3>
        </li>
        <li>
          <div class="custom-file">
            <input type="file" class="custom-file-input" id="corpus_input">
            <label class="custom-file-label">{{ corpus }}</label>
          </div>
        </li>
        <li>
          <h3>GRS:</h3>
        </li>
        <li>
          <div class="custom-file">
            <input type="file" class="custom-file-input" id="grs_input">
            <label class="custom-file-label">{{ grs }}</label>
          </div>
        </li>
        <input id="dep_graph" type="checkbox" checked data-toggle="toggle" data-on="Dep" data-off="Graph" data-onstyle="success" data-offstyle="success">
      </ul>
    </nav>

    <div class="tab-content">
      <!-- *************** pane 1: corpus view *************** -->
      <div id="pill-corpus" class="main tab-pane fade in active show">

        <div class="wrapper">
          <nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse">
            <div class="sidebar-sticky pt-3">
              <ul class="nav flex-column">
                <li>
                  <h3>{{sent_ids.length}} graph<span v-show="sent_ids.length > 1">s</span></h3>
                </li>
                <li class="nav-item" v-for="sent_id in sent_ids">
                  <a v-bind:id="sent_id" v-bind:class="{ selected: sent_ids.length == 1 }" v-on:click="select_graph_event" class="sent nav-link" href="#">
                    {{ sent_id }}
                  </a>
                </li>
              </ul>
            </div>
          </nav>

          <div class="col-md-9 ml-sm-auto col-lg-10 px-md-4">
            <h3 v-if="level > 1"><b>sent_id:</b> {{ selected_graph }}</h3>

            <div class="display-svg">
              <img v-bind:src="svg_init"> </img>
            </div>

            <button v-for="strat in strats" v-bind:class="{ disabled: level < 2 }" v-bind:id="'strat-' + strat" v-on:click="rewrite" type="button" class="btn btn-success">{{ strat }}</button>

          </div>
        </div>

      </div>

      <!-- *************** pane 2: rewriting view *************** -->
      <div id="pill-rewriting" class="main tab-pane fade">

        <div class="wrapper">
          <nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse">
            <div class="sidebar-sticky pt-3">
              <ul class="nav flex-column">
                <li>
                  <h3>{{normal_forms.length}} Normal form<span v-show="normal_forms.length > 1">s</span></h3>
                </li>
                <li class="nav-item" v-for="(normal_form, index) in normal_forms">
                  <a v-bind:id="'G_'+index" v-bind:class="{ selected: normal_forms.length == 1 }" v-on:click="select_normal_form_event" class="sent nav-link" href="#">
                    G_{{index}} • {{ normal_form }} rule<span v-show="nb_rules > 1">s</span>
                  </a>
                </li>
              </ul>
            </div>
          </nav>

          <div class="col-md-9 ml-sm-auto col-lg-10 px-md-4">
            <h3 v-if="level > 1"><b>sent_id:</b> {{ selected_graph }}</h3>

            <div id="svg_init" class="display-svg">
              <img v-bind:src="svg_init"> </img>
            </div>

            <div class="row">
              <div class="column">
                <h3 v-if="level > 2" style="margin-top: 50px;"><b>strat:</b> {{ strat }}</h3>
              </div>
              <div class="column">
                <p v-if="level >= 4" class="text-center" style="font-size:80px">
                  ↓<button v-on:click="get_rules" class="btn btn-success btn-lg">See {{ nb_rules }} rule<span v-show="nb_rules > 1">s</span></button>↓
                </p>
              </div>
            </div>

            <div id="svg_final" class="display-svg">
              <img v-bind:src="svg_final"> </img>
            </div>
          </div>
        </div>

      </div>

      <!-- *************** pane 3: rules view *************** -->
      <div id="pill-rules" class="main tab-pane fade">

        <div class="wrapper">
          <nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse">
            <div class="sidebar-sticky pt-3">
              <ul class="nav flex-column">
                <li>
                  <h3>{{rules.length}} rule<span v-show="rules.length > 1">s</span></h3>
                </li>
                <li class="nav-item" v-for="rule in rules">
                  <a v-bind:id="rule" v-bind:class="{ selected: rules.length == 1 }" v-on:click="select_rule_event" class="sent nav-link" href="#">
                    {{ rule }}
                  </a>
                </li>
              </ul>
            </div>
          </nav>

          <div class="col-md-9 ml-sm-auto col-lg-10 px-md-4">
            <h3 v-if="level > 1"><b>sent_id:</b> {{ selected_graph }}</h3>

            <div id="svg_before" class="display-svg">
              <img v-bind:src="svg_before"> </img>
            </div>

            <div class="row">
              <div class="column">
                <h3 v-if="level > 2" style="margin-top: 50px;"><b>strat:</b> {{ strat }}</h3>
              </div>
              <div class="column">
                <p class="text-center" style="font-size:80px">↓</p>
              </div>
            </div>

            <div id="svg_after" class="display-svg">
              <img v-bind:src="svg_after"> </img>
            </div>
          </div>

        </div>
      </div>

    </div>

    <div id="status" class="navbar fixed-bottom">
      <ul class="nav nav-pills">
        <li class="active">
          <label><b>session_id:</b> {{ session_id }}</label>
          &nbsp; ••• &nbsp;
          <label><b>level:</b> {{ level }} </label>
          &nbsp; ••• &nbsp;
          <label><b>grew_back_url:</b> {{ grew_back_url }} </label>
        </li>
      </ul>
    </div>
  </div>

  <script src="index.js"></script>

</body>

</html>